DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${HOST}/${DATABASE_NAME}

JWT_SECRET=

ADMIN_USERNAME=
ADMIN_PASSWORD=

DOMAIN=