DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${HOST}/${DATABASE_NAME}

TWITCH_CLIENT_ID=xxxxx
TWITCH_CLIENT_SECRET=xxxxx
TWITCH_CALLBACK_URL=${URL}/auth/twitch/callback